include requirements.txt requirements-dev.txt README-zh.md CHANGELOG.md
include requirements-typing.txt
include ja3requests/py.typed
recursive-include typecheck *.py *.ini *.md
recursive-include docs *.md
recursive-include test *.py *.md *.json
